#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV 1
#define SYM 2
#define SPA 3
#define NUM 4

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            /*

             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     | ESC |  p  |  y  |      |  f  |  g  |  c  |  r  |  l  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  a  |  o  |  e  |  u  |  i  |      |  d  |  h  |  t  |  n  |  s  |
             | CTR | NAV | CMD | SFT | ALT |      | ALT | SFT | CMD | NAV | CTR |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | TAB |  q  |  j  |  k  |  x  |      |  b  |  m  |  w  |  v  |  z  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |     | BSP | SPA |      | ENT | _|$ |  #  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

            bindings = <
       &none       &none       &kp ESCAPE   &kp Y        &none      &kp F          &kp G          &kp C        &kp R       &kp L
       &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T  &kp D      &kp H          &mt RSHFT N    &mt RCTRL E  &mt RALT I  &mt RGUI O
&none  &kp TAB     &kp Q       &kp J        &kp K        &kp X      &kp B          &kp M          &kp W        &kp V       &kp Z       &none
                               &none        &kp BSPC     &mo SPA    &lt NAV ENTER  &lt SYM SPACE  &mo NUM
            >;
        };

        nav {
            /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | HME | PUP | PDN | END | ALT |      |     |  ←  |  ↑  |  ↓  |  →  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |  << |  ▸  |  )  | ))) |  >> |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

            bindings = <
       &none     &none        &none          &none           &none           &none           &none       &none         &none         &none
       &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN  &kp END         &kp LEFT_ALT    &none           &kp LEFT    &kp UP_ARROW  &kp DOWN      &kp RIGHT
&none  &none     &none        &none          &none           &none           &kp K_PREVIOUS  &kp C_PLAY  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_NEXT  &none
                              &none          &kp LEFT_SHIFT  &none           &none           &none       &none
            >;
        };

        symbols {
            /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  ;  |  %  |  *  |  @  |  -  |      |  /  |  {  |  '  |  `  |  }  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  #  |  !  |  ,  |  .  |  =  |      |  |  |  (  |  "  |  :  |  )  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  |  |  %  |  &  |  ^  |  _  |      |  \  |  [  |  $  |  ?  |  ]  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

            bindings = <
       &kp LS(N6)     &kp LS(N5)  &kp LS(N8)  &kp LS(N2)  &kp LS(MINUS)    &kp FSLH       &kp LS(LBKT)  &kp SQT      &kp GRAVE     &kp LS(RBKT)
       &kp LS(N3)     &kp LS(N1)  &kp COMMA   &kp DOT     &kp EQUAL        &kp LS(GRAVE)  &kp LS(N9)    &kp LS(SQT)  &kp LS(SEMI)  &kp LS(N0)
&none  &kp LS(GRAVE)  &kp LS(N5)  &kp LS(N7)  &none       &kp MINUS        &kp BSLH       &kp LBKT      &kp LS(N4)   &kp LS(FSLH)  &kp RBKT      &none
                                  &none       &kp LSHFT   &none            &none          &none         &none
            >;
        };

        spaces {
            /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  F2 | F12 | F3  | CT0 |PRINT|      | ZIN | RUN | ←[  |  ]→ |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  1  |  2  |  3  |  4  |  5  |      | Z0  |  ←  |  ↑  |  ↓  |  →  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | F10 | F11 |  F5 |  6  |  7  |      | ZOU | CYL |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  | SFT |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

            bindings = <
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };

        numbers {
            /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  7  |  5  |  3  |  1  |  9  |      |  8  |  0  |  2  |  4  |  6  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  |  _  |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

            bindings = <
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
       &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
