#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
/*

             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     | ESC |  p  |  y  |      |  f  |  g  |  c  |  r  |  l  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  a  |  o  |  e  |  u  |  i  |      |  d  |  h  |  t  |  n  |  s  |
             | CTR | NAV | CMD | SFT | ALT |      | ALT | SFT | CMD | NAV | CTR |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | TAB |  q  |  j  |  k  |  x  |      |  b  |  m  |  w  |  v  |  z  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |     | BSP | SPA |      | ENT | _|$ |  #  |
                         +-----+-----+-----+      +-----+-----+-----+
*/
            bindings = <
       &none       &none       &kp ESCAPE  &kp Y       &none           &kp F      &kp G       &kp C       &kp R       &kp L
       &mt LGUI A  &mt LALT R  &mt LCTRL S &mt LSHFT T &kp D           &kp H      &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
&none  &kp TAB     &kp Q       &kp J       &kp K       &kp X           &kp B      &kp M       &kp W       &kp V       &kp Z       &none
                               &none       &none       &kp BSPC        &kp ENTER  &kp SPACE   &none
            >;
        };

        symbols {
/*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  ;  |  %  |  *  |  @  |  -  |      |  /  |  {  |  '  |  `  |  }  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  #  |  !  |  ,  |  .  |  =  |      |  |  |  (  |  "  |  :  |  )  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  |  |  %  |  &  |  ^  |  _  |      |  \  |  [  |  $  |  ?  |  ]  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/
            bindings = <
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
&none  &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A       &none
                               &kp A       &kp A       &kp A           &kp A      &kp A       &kp A            >;
        };

        spaces {
        /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  F2 | F12 | F3  | CT0 |PRINT|      | ZIN | RUN | ←[  |  ]→ |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  1  |  2  |  3  |  4  |  5  |      | Z0  |  ←  |  ↑  |  ↓  |  →  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | F10 | F11 |  F5 |  6  |  7  |      | ZOU | CYL |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  | SFT |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/
            bindings = <
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
&none  &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A       &none
                               &kp A       &kp A       &kp A           &kp A      &kp A       &kp A            >;
        };

        numbers {
        /*
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  7  |  5  |  3  |  1  |  9  |      |  8  |  0  |  2  |  4  |  6  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  |  _  |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/
                    bindings = <
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
       &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A
&none  &kp A       &kp A       &kp A       &kp A       &kp A           &kp A      &kp A       &kp A       &kp A       &kp A       &none
                               &kp A       &kp A       &kp A           &kp A      &kp A       &kp A            >;
        };
    };
};
