#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

#define BASE 0

/ {
    keymap {
        compatible = "zmk,keymap";

/*

             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     | ESC |  p  |  y  |      |  f  |  g  |  c  |  r  |  l  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  a  |  o  |  e  |  u  |  i  |      |  d  |  h  |  t  |  n  |  s  |
             | CTR | NAV | CMD | SFT | ALT |      | ALT | SFT | CMD | NAV | CTR |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | TAB |  q  |  j  |  k  |  x  |      |  b  |  m  |  w  |  v  |  z  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |     | BSP | SPA |      | ENT | _|$ |  #  |
                         +-----+-----+-----+      +-----+-----+-----+
*/
        base_layer {
            bindings = <
        &none       &none       &kp ESCAPE  &kp P       &kp Y           &kp F  &kp G        &kp C        &kp R       &kp L
        &mt LGUI A  &mt LALT O  &mt LCTRL E &mt LSHFT U &kp I           &kp D  &mt RSHFT H  &mt RCTRL T  &mt RALT N  &mt RGUI S
&none   &kp TAB     &kp Q       &kp j       &kp K       &kp X           &kp B  &kp M        &kp W        &kp V       &kp Z       &none
                                &none       &BSPC       &none           &kp RET  &kp SPACE  &none
            >;
        };

/*
Symbols

             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  ;  |  %  |  *  |  @  |  -  |      |  /  |  {  |  '  |  `  |  }  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  #  |  !  |  ,  |  .  |  =  |      |  |  |  (  |  "  |  :  |  )  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  |  |  %  |  &  |  ^  |  _  |      |  \  |  [  |  $  |  ?  |  ]  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

/*
Spaces
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  F2 | F12 | F3  | CT0 |PRINT|      | ZIN | RUN | ←[  |  ]→ |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  1  |  2  |  3  |  4  |  5  |      | Z0  |  ←  |  ↑  |  ↓  |  →  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             | F10 | F11 |  F5 |  6  |  7  |      | ZOU | CYL |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  | SFT |  _  |      |  _  | SFT |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/

/*
Numpad
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |  7  |  5  |  3  |  1  |  9  |      |  8  |  0  |  2  |  4  |  6  |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
             |     |     |     |     |     |      |     |     |     |     |     |
             +-----+-----+-----+-----+-----+      +-----+-----+-----+-----+-----+
                         |  _  |  _  |  _  |      |  _  |  _  |  _  |
                         +-----+-----+-----+      +-----+-----+-----+
*/


    };
};
